@import helper._

@(addEventForm: Form[models.Event], user: models.users.User)

@main("Add Event", user) {
    <!--..CONTENT..-->
    <div class="container-fluid" id="content">

        <div class="row">
            <div class="col-lg-12 well" id="addEvent">
                    <!-- Start of add event up form-->
                @form(action = routes.HomeController.addEventSubmit(), 'class -> "form=horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {
                    @select(addEventForm("category.catID"), options(Category.options), '_label -> "Category", '_default -> "Choose a category",
                        '_showConstraints -> false, 'class -> "form-control")
                    @inputText(addEventForm("eventName"), '_label -> "Name", 'class -> "form-control", 'maxlength -> "30")
                    @inputText(addEventForm("title"), '_label -> "Title", 'class -> "form-control", 'maxlength -> "30")
                    @inputText(addEventForm("location"), '_label -> "Location", 'class -> "form-control", 'maxlength -> "30")
                    @inputText(addEventForm("date"), '_label -> "Date", 'class -> "form-control", 'maxlength -> "30")
                    @inputText(addEventForm("time"), '_label -> "Time", 'class -> "form-control", 'maxlength -> "30") 
                <label>Event Image</label>
                <input type="file" name="upload">
                <br>
                @inputText(addEventForm("id"), '_label -> "", 'hidden -> "hidden")
                <div class="actions">
                    <input type="submit" value="Add Event" class="btn btn-success">
                    <a href="@routes.HomeController.events()" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    </div>
        <!--END CONTENT-->

}
}