@import helper._

@(addTicketForm: Form[models.Ticket], user: models.users.User)

@main("Add Ticket", user) {

    <div class="container-fluid" id="content">
        <div class="row">
            <div class="col-lg-12 well" id="addEvent">
            @form(action = routes.HomeController.addTicketSubmit(), 'class -> "form-horizontal", 'role -> "form") {

                @select(
                    addTicketForm("event.id"), options(Event.options), '_label -> "Event", '_default -> "Choose an Event",
                    '_showConstraints -> false, 'class -> "form-control"
                )
                @inputText(addTicketForm("ticketType"), '_label -> "Ticket Type", 'class -> "form-control", 'maxlength -> "30")
                @inputText(addTicketForm("description"), '_label -> "Description ", 'class -> "form-control", 'maxlength -> "30")
                @inputText(addTicketForm("quantity"), '_label -> "Quantity", 'class -> "form-control", 'type -> "number", 'min -> "1", 'step -> "1", 'max -> "1000", 'value -> "0")
                @inputText(addTicketForm("price"), '_label -> "Price", 'class -> "form-control", 'type -> "number", 'min -> "0.01", 'step -> "0.01", 'max -> "1000", 'value -> "00.00")
                @inputText(addTicketForm("ticketID"), '_label -> "", 'hidden -> "hidden")
                <div class="actions">
                    <input type="submit" value="Add Ticket" class="btn btn-success">
                    <a href="@routes.HomeController.adminevents(0)" class="btn btn-danger">Cancel</a>

                </div>
            </div>
        </div>

    </div>
}
}