@import helper._

@(accountForm: Form[models.users.User],user: models.users.User)
@main("Update Account", user) {


    <div class="container " id="content">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="user-order-display">
            <div class="row">
                <a href = "@routes.HomeController.myOrders()" class="btn btn-success btn-lg" id="user-order-button">
                    <span class="glyphicon glyphicon-calendar"></span>My Orders
                </a>

                <a href = "@routes.HomeController.updateDetails()" class="btn btn-success btn-lg" id="user-account-button">
                    <span class="glyphicon glyphicon-user"></span>Update Details
                </a>


                <a href = "@routes.LoginController.deleteAccountPage()" type="button" class="btn btn-success btn-lg" id="user-delete-button">
                    <span class="glyphicon glyphicon-trash"></span>Delete Account
                </a>

                <a href = "@routes.HomeController.reportProblem()" type="button" class="btn btn-success btn-lg" id="user-problem-button">
                    <span class="glyphicon glyphicon-envelope"></span>Report problem
                </a>

                <hr>
            </div>
            </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="user-order-display">
            <div class="row">

            @form(action = routes.HomeController.updateDetailsSubmit(), 'method -> "POST", 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {
                @inputText(accountForm("email"), '_label -> "Email", 'class -> "form-control", 'maxlength -> "30", 'readonly -> "readonly")
                @inputText(accountForm("name"), '_label -> "Name", 'class -> "form-control", 'maxlength -> "30")
                @inputText(accountForm("password"), '_label -> "Email", 'type -> "password", 'class -> "form-control")
                <label>Profile Image</label>
                <input type="file" name="upload1">
                <br>
                @inputText(accountForm("role"), '_label -> "", 'hidden -> "hidden")

                <div class="actions">
                    <input type="submit" value="Submit" class="btn btn-success">
                    <a href="@routes.HomeController.contact()" class="btn btn-danger">Cancel</a>

                </div>
            }

        </div>
    </div>
    </div>

}