@import helper._

@(addTicketForm: Form[models.Ticket],user: models.users.User)

@main("Add Ticket",user) {


<div class="row">
<div class="col-lg-12 well" id="addEvent">
         <h4>Add Tickets</h4>
              @form(action = routes.HomeController.addTicketSubmit(), 'class -> "form-horizontal",'role->"form"){

                @inputText(addTicketForm("ticketType"), '_label -> "TicketType", 'class -> "form-control")
                @inputText(addTicketForm("quantity"), '_label -> "Quantity", 'class -> "form-control")
                @inputText(addTicketForm("price"), '_label -> "Price", 'class -> "form-control")

                <div class="actions">
                    <input type="submit" value="add ticket" class="btn btn-primary">
                    
                        <a href="@routes.HomeController.index()" <button class="btn btn-warning">Cancel</button></a>

                </div>
</div>
</div>


}
}