@(events: List[models.Event], categories: List[models.Category], user: models.users.User)

@main("Events",user) {


    <!--..CONTENT..-->
    <div class="container-fluid" id="eventContent">
        <div class="row">
            <div class="col-sm-3">
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="visible-xs navbar-brand">Sidebar menu</span>
                        </div>
                        <div class="navbar-collapse collapse sidebar-navbar-collapse">
                            <ul class="nav navbar-nav">
                                <h3 class="greentext ">EVENT CATEGORIES</h3>
                                <div class="list-group">

                                    <a href="@routes.HomeController.events(0)" class="list-group-item">All categories</a>

                                @for(c <- categories) {
                                   <a href="@routes.HomeController.events(c.getCatID)" class="list-group-item" id="categories">@c.getName
                                        <span class="badge">@c.getEvents.size()</span>
                                   </a>
                                }
                                </div>
                            </ul>
                            <br>
                            <br>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>




                <!--Main content--->
            <div class="col-sm-9">
                <div class="row"><br>
                    <strong>Display</strong>

                    <div class="btn-group">
                        <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                        </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                    class="glyphicon glyphicon-th"></span>Grid</a>
                    </div>
                </div>
                <br>

                <div id="products" class="row list-group">
                        <!-- Start of for loop - Fo reach e in events add a row -->
                    @for(e <- events) {
                        <a href="@routes.HomeController.eventTicket(e.getEventID)">
                            <div class="item  col-xs-4 col-lg-4">
                                <div class="thumbnail">

                                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" >
                                    <div class="caption">
                                        <h4 class="group inner list-group-item-heading">
                                        @e.getTitle</h4>
                                        <p class="group inner list-group-item-text">
                                            @e.getEventName
                                            <br>
                                            @e.getLocation
                                            <br>
                                            @e.getDate
                                            <br>
                                            @e.getCategory.getName
                                            Starting from €
                                        </p>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                @if(user.getRole.equals("admin")) {
                                                    <a href="@routes.HomeController.deleteEvent(e.getEventID)" class = "btn btn-danger"
                                                    onclick="return confirmDel();">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </a>
                                                }
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    } <!-- End of for loop -->


                    <div class="col-xs-12 col-md-6">

                    </div>
                </div>
            </div>
        </div>
    </div>

        <!--END CONTENT-->

        <!--Script for displaying products in grid/list-->
    <script>
            $(document).ready(function() {
                $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
                $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
            });</script>

    <!--Script for confirming delete of event-->
    <script>
        function confirmDel(){
            return confirm('Are you sure?');
        }
    </script>
}