@(loginForm: Form[models.Login], user: models.users.User)

@main("Log in", user) {
    <!--..CONTENT..-->
    @if(flash.containsKey("success")) {
        <div class="alert alert-success text-center">
        @flash.get("success")
        </div>
        }
    @if(flash.containsKey("danger")) {
        <div class="alert alert-danger text-center">
        @flash.get("danger")
        </div>
    }
    <div class="container-fluid" id="content">
        <h2>Login or <a href ="@routes.HomeController.signUp()">Sign Up</a></h2>
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">

                <form class="omb_loginForm" action="@routes.LoginController.loginSubmit" name ="loginForm" method = "POST">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" type="email" name="email" placeholder="Email Address">
                    </div>
                    <span class="help-block"></span>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <br>
                    <button class="btn btn-lg btn-success btn-block" type="submit">
                        Login        <i class="glyphicon glyphicon-thumbs-up"></i></button>
                </form>

            </div>
        </div>
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-3">
                <br>
                <br>
            </div>
        </div>
    </div>
        <!--END CONTENT-->

}
