@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String, user: models.users.User)(content: Html)

<!DOCTYPE HTML>
<title>@title</title>

<head>
        <!-- CSS link -->
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/style.css")">
        <!-- Bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Javascript link -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container-fluid" id="nav-top">
        <div class="row">
            <div class="col-lg-4 col-md-4 visible-lg" >
                <a href="@routes.HomeController.index()"> <h1 id="logo">TC <span> Events</span></h1></a>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" id="">
                <div class="nav navbar-nav navbar-right" id="nav-buttons">
                @if(user != null) {
                    <a href="@routes.EventController.listEvents()" class="btn btn-success btn-circle btn-md"><i class="glyphicon glyphicon-search"></i></a>
                    <a href="@routes.HomeController.cart()" class="btn btn-success btn-circle btn-md"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                    <a href="@routes.LoginController.logout()" class="btn btn-success btn-circle btn-md"><span class="glyphicon glyphicon-off"></span>
                        LOGOUT</a>
                    @if(user.getRole.equals("admin")) {
                        <div class="dropdown" id="adminOptions">
                            <button class="btn btn-success btn-circle btn-md" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i>
                                Admin Options
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="@routes.HomeController.adminevents(0)">Manage Events</a></li>
                                <li><a href="@routes.HomeController.viewContact()">Manage Contacts</a></li>
                                <li><a href="@routes.HomeController.viewAccounts()">Manage Accounts</a></li>
                                <li><a href="@routes.HomeController.viewOrders()">Manage Orders</a></li>
                            </ul>
                        </div>
                    }
                } else {
                    <a href="@routes.EventController.listEvents()" class="btn btn-success btn-circle btn-md"><i class="glyphicon glyphicon-search"></i></a>
                    <a href="@routes.LoginController.login()" class="btn btn-success btn-circle btn-md"><i class="glyphicon glyphicon-user"></i>
                        Login</a>
                    <a href="@routes.HomeController.signUp()" class="btn btn-success btn-circle btn-md"><span class="glyphcon glyphicon-pencil"></span>
                        Sign up</a>
                }
                </div>
            </div>
        </div>
        <div id="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="nav-bottom">
                    <a href="@routes.HomeController.index">HOME</a>
                    <a href="@routes.HomeController.events(0)">EVENTS</a>
                    <a href="@routes.HomeController.myAccount">MY ACCOUNT</a>
                    <a href="@routes.HomeController.contact">CONTACT US</a>
                </div>
            </div>
        </div>
    </div>

    @content

    <div class="container" id = "footer">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-left">
                <a href="@routes.HomeController.index()"><h2>TC <span>EVENTS</h2></a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="icon div">
                @*<a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse pull-right" id="icon"></i></a>*@
                @*<a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse pull-right" id="icon"></i></a>*@
                @*<a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse pull-right" id="icon"></i></a>*@
                <a href="http://github.com/ShaneCotter/TicketStore"><i class="fa fa-3x fa-fw fa-github text-inverse pull-right" id="icon"></i></a>
            </div>
        </div>
    </div>
</body>
  
