@(user: models.users.User)
    @main("myAccount",user){


    <div class="container" id="content">
        <h1>Edit Profile</h1>
        <hr>
        <div class="row">
                <!-- left column -->
            <div class="col-md-3 pull-left">
                <div class="text-center">
                    <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                    <h6>Upload a different photo...</h6>

                    <input type="file" class="form-control">
                </div>
            </div>

                <!-- edit form column -->
            @if(flash.containsKey("success")){
                <div class="alert alert-success">
                @flash.get("success")
                </div>
            }
                <h3>Personal info</h3>

                <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Email:</label>
                            <div class="col-lg-8">
                                <input class="form-control" type="text" value="@user.getEmail()" readonly>
                            </div>
                        </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="@user.getName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Password:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" value="@user.getPassword()">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input type="button" class="btn btn-primary" value="Save Changes">
                            <span></span>
                            <input type="reset" class="btn btn-default" value="Cancel">
                        </div>
                    </div>

                </form>
        </div>
    <hr>
    <hr>


}